# Core Dependencies
flask
flask-cors
requests
joblib
tenacity==9.1.2
rich==14.1.0
psutil==7.0.0

# Data Science & Math
numpy==2.3.5
pandas
scipy
scikit-learn
statsmodels==0.14.5

# Finance & Trading
yfinance==0.2.66
finvizfinance==1.1.1
pyportfolioopt==1.5.6
pmdarima==2.1.0

# Machine Learning
tensorflow==2.20.0
keras==3.11.3
xgboost==3.0.4
lightgbm==4.6.0
